body{
    background-image: url(num.jpg);
    
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%; 
}
h1{
    color: tomato;
    font-size: 70px;
    text-align: center;
    
}
button{
    
    background-color: rgb(0, 0, 0);
    box-sizing: 50px;
    width: 35%;
    text-align: center;
    border-radius: 150px;
    padding-top: 10px;
    padding-bottom: 8px;
    color: tomato;
    text-size-adjust: 100%;
}
p{
    font-size: 30px;
    color: tomato;
    background-color: black;
    text-align: center;
}


